.btn-primary{
    background-color: #02245b !important;
    border: none !important;
}
.btn-primary:hover{
    background-color: #023b97 !important;
    border: none !important;
}

.card-primary.card-outline {
    border-top: 3px solid #ff5e14;
}
